*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 25rem;
    height: 30rem;
    background-color: white;
    text-align: center;
    padding: 3rem;

}

.form-box h1{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #3c00a0;
    position: relative;
}